/RelogioSwing/nbproject/private/
/Salario/nbproject/private/
/Salario/build/
/HelloWorld/nbproject/private/
/HelloWorld/build/
/SalarioComBonus/nbproject/private/
/SalarioComBonus/build/
/CalculoSimples/nbproject/private/
/CalculoSimples/build/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/TestesPrimitivos/nbproject/private/
/TestesTipos/nbproject/private/
/SomaSwing/nbproject/private/
/JavaApplication7/nbproject/private/
/Teste/nbproject/private/
/SomaSwing/build/
/OperacoesSwing/nbproject/private/
